img {
  width: 200px;
}
.photos {
  display: flex;
  gap: 1rem;
}

.photos img {
  width: 100%;
  object-fit: cover;
}
body{
  text-align: center;
  font-family: arial;
  background: rgb(17, 0, 254);
  color: rgb(240, 240, 240);
}